@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
/* Paleta de cores original 
:root{ 
    --background:#fff;
    --foreground:#ebf4ff;
    --thirdground:#ffc600;
    --primary:#131923;
    --secondary:#0055b8;
    --secondary-foreground:#fff;
    --hero-background:#f3f3f3;
} */


:root {
    --background: #2f353d;
    --foreground: #ebf4ff;
    --thirdground: #FFC600;
    --primary: #d1d9e6;
    --secondary: #89CFF0;
    --secondary-foreground: #f1f1f1;
    --hero-background: #3c4349;
  }


